/********** Template CSS **********/
*{
    box-sizing: border-box;
}

body{
    direction: rtl;
}

html {
    scroll-behavior: smooth;

}
/* General styles */

:root {
    --secondary: #FFF0E6;
    --light: #F8F8F9;
    --dark: #001D23;
    --primary:#821e65;
    --primary-2:#c61b6d;
}

a.btn,
button.buttons-style {
    font-weight: bold;
}

/* Scroll arrow */
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}



/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.buttons-style{
    background-image: linear-gradient(to right , var(--primary), var(--primary-2));
    color: white;
}

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.buttons-style:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right , #821e65ab, #c61b6d96);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.nav-container {
    background-color: #212529;
}

.nav-container nav .logo {
    height: 30px;
}

@media(max-width:912px) {
nav .nav-links-container {
    justify-content: flex-start !important;
    margin-right: -83px;

}


.nav-container nav .logo {
    height: 25px;
}
}

.nav-container nav button.navbar-toggler {
    margin-left: 15px ;

}

.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .navbar-nav .lists {
    display: inline-flex;
}

.navbar .navbar-nav .lists li{
    margin-bottom: -10px
}

.navbar .navbar-nav .lists li:first-child,
.navbar .navbar-nav .lists li:nth-child(2){
    margin-right: 13px;
}

.navbar .navbar-nav .lists li:last-child{
    margin-right: 7px;
    position: relative;
}



nav .nav-links-container {
    display: flex;
    justify-content: end;
}

nav .lang-container {
    position: relative;
    margin-top: 7px;

}

nav .lang-container button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

nav .lang-container ul {
    list-style: none;
    font-size: 13px;
    position: absolute;
    background-image: linear-gradient(to right,var(--primary),var(--primary-2));
    width: 100px;
    border-radius: 5px;
    padding: 20px;
    top: 54px;
    right: -16px;
    height: 87px;
    display: none;
}

nav .lang-container ul.show{
    display: block;
}

nav .lang-container ul li{
    color: white;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: -3px;
}

nav .lang-container ul li:last-child{
        margin-right: 5px;

}

nav .lang-container ul li span{
    margin-right: 10px;
}

nav .lang-container ul #arabic span{
    margin-right: 15px;
}

nav .lang-container img {
    width: 20px;
}

nav .lang-container ul #arabic img {
    margin-right: -8px;
}

.navbar .dropdown-toggle::after {
    /* border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px; */
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    /* color: var(--primary); */
    color: var(--primary-2);
}

.navbar .lists .nav-item.trans{
    display: none;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        /* background: var(--dark);
        padding-left: 40px;
        text-align: end; */
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Carousel Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 29, 35, .8);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    #header-carousel .carousel-inner {
        overflow: auto !important;
    }

    #header-carousel .carousel-item {
        height: 400px;
    }
}

/* .page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
} */




/*** About ***/

.about h1{
    font-size: 33px;
    font-weight: bold;
}
.about .images-container img:last-child{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
.about .images-container img:last-child{
    padding: 5px;
}

@media(max-width:768px){
    .about h2 {
        display: block !important;
        text-align: center;
        width: 200px;
        margin: auto;
    }
    .about h1 {
        text-align: center;
    }

    .about .buttons-container {
        display: flex;
        justify-content: space-between;
    }

    .about .buttons-container a {
        flex-basis: 45%;
    }

    .about .images-container{
        /* width: 100% !important; */
    }
  
}

@media(max-width:913px){
    .about .images-container img:first-child{
        width: 800px !important;
        padding-right: 0!important;
    }
    .about .images-container img:last-child{
        right: 0px;
    }
}

@media(max-width:767px){
    .about .images-container img:first-child{
        width: 540px !important;
        height: 350px !important;
        padding-right: 0!important;
    }
    /* .about .images-container img:last-child{
        right: 0px;
    } */
}

/*** Reviews ***/
#reviews {
    direction: ltr;
}

.reviews h2 {
    width: 200px;
}

.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background-image: linear-gradient(to right,var(--primary),var(--primary-2));
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

/*** Donate ***/
.donate {
    background: rgba(0, 29, 35, .8);
}

.btn-group .btn-light:hover,
.btn-group input[type="radio"]:checked+label {
    color: var(--primary);
    border-color: var(--primary);
}

/*** contact ***/
.contact {
    background: rgba(0, 29, 35, .8);
}

.contact .inputs {
    border: 1px solid black !important;
}

@media(min-width:1024px){
    .contact button{
        width: 260px;
    }
}
@media(max-width:768px){
    .contact h2 {
        display: block !important;
        text-align: center;
        width: 200px;
        margin: auto;
    }
    .contact p,
    .contact h1 {
        text-align: center;
    }
}
/*** Footer ***/
.footer .one img {
    width: 60px;
}

.footer .one p {
    margin-top: 22px;
}

.footer .three button {
    position: static !important;
    width: 100%;
    margin-right: 0 !important;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255,255,255,0.5);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
    font-size: 22px;
    direction: ltr;
}
.footer .copyright img {
    width: 50px;
    vertical-align: initial;
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/* Scrolling button */
.back-to-top-button {
  background-image: linear-gradient(to right , var(--primary), var(--primary-2));
  color: white;  
}
@media(max-width:768px){
    .back-to-top-button {
        margin-right: -30px;
        margin-bottom: -30px;
    }
}

@media(min-width:280px) and (max-width:300px){

    .back-to-top-button {
        margin-right: -90px;
        margin-bottom: -30px;
    }
}

/* Fold screen */
@media(min-width:280px) and (max-width:300px){
    #header-carousel,
    #about, 
    #reviews,
    #contact ,
    #footer{
        width: 340px;
    }

    #nav{
        right: -140px !important;
    }
}

/* Translation mobile and tab views */
@media(max-width:912px){
    nav .lang-container button{
        display: none;
    }

.navbar .lists .nav-item.trans {
    display: block;
}
    .navbar .navbar-nav {
        /* height: 270PX; */
        width: 140px;
    }

    .navbar .navbar-nav .lists {
        display: block;
        margin-right: 26px;

    }

    .navbar .navbar-nav .lists li:last-child::after{
        /* width: 66px;
        border-bottom: 1px solid white;
        content: "";
        position: absolute;
        left: -20px; */
}

    nav .lang-container ul {
        list-style: none;
        position: absolute;
        width: 100px;
        padding: 26px;
        top: 10px;
        right: -90px;
        height: 100px;
        font-size: 16px;
        margin-right: 2px;
        background-image: none;
        display: none;
    }

    nav .lang-container ul #arabic span{
        margin-right: 18px;
    }

      .navbar .lists .nav-item.trans img{
        width: 20px;
        position: absolute;
        top: 12px;
        right: 100px;
    }
}




.buttons-container a:last-child:hover {
    color: white !important;
    background-color: #0a2997;
}